p, li {
    line-height: 1.6;
}

.app-logo {
    height: 80px;
}
.app-alert {
    background: #0021FF;
    color: #fff;
    padding: 1rem;
    a {
        color: #fff;
    }
}
.app-header {
    background-color: #fff;
    padding: 1rem;
    border-bottom: solid 1px #e3e3e4;
}
.app-title {
    color: #0021FF;
    display: inline-block;
    font-size: 1.5rem;
    margin: 0;
}
.app-intro {
    font-size: large;
}
@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* main app container */
.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: .5rem;
}

/* main-menu */
.main-menu {
    display: inline-block;
    float: right;
    list-style-type: none;
    margin: .5rem 0 0 0;
    padding: 0;
    li {
        display: inline-block;
        margin-left: 1rem;
    }
}

/* side menus */
.feature-menu {
    background: #f9f9f9;
    grid-column: span 2;
    position: -webkit-sticky;
    position: sticky;
    height: 100vh;
    padding: 2rem 1rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 1rem;
        }
    }
}
.feature-sub-menu {
    border-right: solid 1px #e3e3e4;
    grid-column: span 2;
    height: 100vh;
    padding: 2rem 1rem;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 1rem;
        }
    }
    .action {
        display: block;
        font-size: 1.25rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }
}

/* canvas */
.canvas {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: span 8;
    padding: 2rem 1rem;
}
.canvas-message {
    grid-column: 2 / 10;
}


/* journal */
.feature-sub-menu {
    .write {

    }
}
.journal {
    border: solid 1px #e3e3e4;
    height: 70vh;
    grid-column: 2 / 10;
}

/* icons */
.icon::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}